*{
  font-family: Arial;
}


button{
  margin:auto;
  height: 40px;
  width:40px;
}

.container {
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  margin: auto;
  padding: 10px;
}
ul>li {
  color:rgb(35, 0, 189);
}

body{
  margin: 0px!important;
}

.center-text{
  text-align: center;
}

.footer{
  position:fixed;
  text-align:center;
  background:#335533;
  width:100%;
  padding:10px 0px;
  margin:0px;
  color:white;
  bottom: 0;
}
.hidden{
  display:none;
}

.show{
  display:block;
}
.result{
  margin-top:175px;
  margin-bottom:50px;
}


.header{
  position:fixed;
  top:0;
  width:100%;
  color:white;
  background-color:#335533;
}


.proverb-title{
  width:auto;
  background-color: transparent;
  border:none;
  color:rebeccapurple;
  font-size: medium;
}